@import 'abstracts/variables';
.contact {
  display: flex;
  padding: 5px 3%;
  height: 45px;
  width: 100%;
  align-items: center;
  border-bottom: 1px solid rgba($color-black-800, .4);

  &__image {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem;
    img {
      width: 100%;
      height: 100%;
    }
  }


  &__name {
    font-size: 1.4rem;
    line-height: 1.6rem;
    font-weight: 500;
  }

  &__number {
    font-size: 1.2rem;
    line-height: 1.4rem;
    font-weight: 700;
    color: rgba($color-black-800, .6);
  }

  &__actions {
    margin-left: auto;
  }

  &__icon {
    font-size: 1.6rem;
    color: rgba($color-black-800, .6);
  }
}

.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 3px;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 3px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
