<section class="contacts" [ngClass]="{'contacts--dark': this.showModal}">
  <header class="header">
    <a class="header__back" routerLink="/settings"><i class="header__icon icofont-arrow-left"></i></a>
    <h5 class="header__title">Emergency Contacts</h5>
    <a class="header__new"><i class="header__icon icofont-plus-square"></i></a>
  </header>
  <div class="contacts__content">
    <app-contact *ngFor="let contact of this.contacts" [contactInfo]="contact" (onContactDelete)="this.onContactDelete($event)"></app-contact>
  </div>

  <!-- MODAL -->
  <div class="modal" *ngIf="this.showModal">
    <div class="modal__header">
      <h5>¿Remover conctacto?</h5>
    </div>
    <div class="modal__body">
      <p class="modal__description">¿Esta seguro que desea quitar el contacto de su lista de contacto de emergencia?</p>
      <div class="modal__actions">
        <button (click)="closeModal()" class="modal__button btn btn--pink btn--rounded-high">Cancelar</button>
        <button (click)="confirmDeleteModal()" class=" modal__button btn btn--pink btn--rounded-high">Confirmar</button>
      </div>
    </div>
  </div>
</section>
