<div class="forum">
  <!-- Search input -->
  <section class="search">
    <div class="search__container">
      <input type="text" class="search__input input input--rounded-s">
      <div class="search__icon-container">
        <i class="search__icon icofont-search"></i>
      </div>
    </div>
    <a class="search__cancel">Cancel</a>
  </section>

  <!-- new post section -->
  <section class="user">
    <div class="user__avatar">
      <img class="user__pic" [src]="this.userProfilePicture" alt="User Profile Picture">
    </div>
    <div class="user__new-post">
      <input placeholder="Post" class="user__input input input--rounded-h">
    </div>
  </section>

  <!-- stories section -->
  <section class="stories">
    <app-carrousel [carouselConfig]="this.carouselConfiguration" [images]="this.carouselImages"></app-carrousel>
  </section>

  <section class="posts">
    <app-post [postInfomation]="this.posts"></app-post>
  </section>
</div>
